body {
  margin: 0 auto;
  font-family: crock;
}

@font-face {
  font-family: crock;
  src: url(crock.ttf);
}

#dialog {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  margin: 0 auto;
  bottom: 5%;
  left: 25%;
  width: 50%;
  height: 20%;
  user-select: none;
}

#OptionsBox {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  margin: 0 auto;
  width: 100%;
  height: 60%;
}

#titles {
  background-color: rgba(0, 0, 0, 0.3);
}

#title {
  margin-left: 1%;
  width: 100%;
  font-size: 2vw;
  color: #ff7b00;
  font-weight: bold;
}

#subtitle {
  margin-left: 1%;
  width: 100%;
  font-size: 1.4vw;
  color: #ca0c0c;
  font-weight: bold;
}

.option:hover {
  border: 2px solid #cc0000;
}

.option {
  margin: 0 auto;
  color: white;
  text-align: left;
  width: 99%;
  height: 20%;
  font-size: 1.2vw;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
